<div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-8 mt-5 mx-auto max-w-7xl">
  <a routerLink="" class="m-2 p-4 bg-white shadow-md rounded-md hover:bg-gray-100" style="height: 100px;">
    <mat-icon>
      <span class="material-symbols-outlined">
        home
      </span>
    </mat-icon>
    &nbsp;
    <span class="text-lg font-semibold text-gray-800">Home</span>
    <p class="text-sm text-gray-600 mt-1">หน้าแรก</p>
  </a>

  <a routerLink="products" class="m-2 p-4 bg-white shadow-md rounded-md  hover:bg-gray-100" style="height: 100px;">
    <mat-icon>
      <span class="material-symbols-outlined">
        shopping_cart
      </span>
    </mat-icon>
    &nbsp;
    <span class="text-lg font-semibold text-gray-800">Product</span>
    <p class="text-sm text-gray-600 mt-1">รายการสินค้า</p>
  </a>

  <a routerLink="categories" class="m-2 p-4 bg-white shadow-md rounded-md hover:bg-gray-100" style="height: 100px;">
    <mat-icon>
      <span class="material-symbols-outlined">
        category
      </span>
    </mat-icon>
    &nbsp;
    <span class="text-lg font-semibold text-gray-800">Categories</span>
    <p class="text-sm text-gray-600 mt-1">หมวดหมู่สินค้า</p>
  </a>

  <a routerLink="transactions" class="m-2 p-4 bg-white shadow-md rounded-lg hover:bg-gray-100" style="height: 100px;">
    <mat-icon>
      <span class="material-symbols-outlined">
        list
      </span>
    </mat-icon>
    &nbsp;
    <span class="text-lg font-semibold text-gray-800">Transaction</span>
    <p class="text-sm text-gray-600 mt-1">รายการซื้อขายสินค้า</p>
  </a>
</div>