<section>
  <!-- Header -->
  <article class="mt-5 mx-auto max-w-7xl px-8 grid md:grid-cols-1">
    <h1 class="text-3xl text-black pb-4">Categories</h1>
    <hr />
    <p class="text-xl flex items-center">หมวดหมู่สินค้า</p>
  </article>

  <!-- Button Add Category -->
  <article class="bg-white text-center mx-3 text-sm">
    <button (click)="onAddCategory()"
      class="bg-green-500 hover:bg-green-600 text-white e py-1 px-3 rounded">เพิ่มหมวดหมู่สินค้า</button>
  </article>

  <!-- Table Category -->
  <div class="overflow-x-auto mt-5">
    <table
      class="mx-auto w-full text-center sm:max-w-4xl bg-white shadow-sm rounded overflow-hidden caption-bottom divide-y divide-gray-200">
      <caption class="text-start mx-3 text-gray-400">
        <ng-container *ngIf="AllCategories; else elseBlock">
          <p>พบข้อมูลทั้งหมด {{AllCategories.length}} รายการ</p>
        </ng-container>
        <ng-template #elseBlock>
          <p>ไม่พบข้อมูล</p>
        </ng-template>
      </caption>
      <thead class="bg-gray-200 text-gray-700">
        <tr>
          <!-- <th class="px-2 py-1">#</th> -->
          <th class="px-2 py-1">ID<button (click)="onSortId()"
              class="shadow bg-gray-200 hover:bg-gray-300 transition duration-300 ease-in-out transform hover:shadow-lg">
              <mat-icon>
                <span class="material-symbols-outlined">
                  arrow_drop_down
                </span>
              </mat-icon>
            </button></th>
          <th class="px-2 py-1">Name</th>
          <th class="px-2 py-1">Create<button (click)="onSortId()"
              class="shadow bg-gray-200 hover:bg-gray-300 transition duration-300 ease-in-out transform hover:shadow-lg">
              <mat-icon>
                <span class="material-symbols-outlined">
                  arrow_drop_down
                </span>
              </mat-icon>
            </button></th>
          <!-- <th class="px-2 py-1">Updated</th> -->
        </tr>
      </thead>
      <tbody class="text-gray-600 divide-y divide-gray-200">
        <tr *ngFor="let p of AllCategories" class="hover:bg-gray-100">
          <!-- <td class="px-2 py-1">
            <input type="radio" name="id" value={{p.id}} (click)="onEditCategory(p.id)">
          </td> -->
          <td class="px-2 py-1">{{ p.id }}</td>
          <td class="px-2 py-1">{{ p.name }}</td>
          <td class="px-2 py-1">{{ p.createDate| date: 'dd/MM/yyyy' }}</td>
          <!-- <td class="px-2 py-1">{{ p.updateDate | date: 'dd/MM/yyyy'}}</td> -->
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Form Add Category -->
  <ng-container *ngIf="isAddCategory;">
    <div style="width: 500px;" class="mx-auto mt-5">
      <form (submit)="onSubmitCreate()">
        <div class="space-y-12 m-3">

          <div class="border-b border-gray-900/10 pb-12">
            <h2 class="text-base font-semibold leading-7 text-gray-900">Add Category Information</h2>
            <p class="mt-1 text-sm leading-6 text-gray-600">Use form where you can receive to server.</p>

            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

              <!-- Name -->
              <div class="sm:col-span-3">
                <label class="block text-sm font-medium leading-6 text-gray-900">Category name</label>
                <div class="mt-2">
                  <input autocomplete="off" [(ngModel)]="categories.name" type="text" name="name" id="Category-name"
                    style="text-align: center;"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6 m-3">
          <button type="button" class="text-sm font-semibold leading-6 text-gray-900"
            (click)="closeAddCategory()">Cancel</button>
          <button type="submit"
            class="rounded-md bg-indigo-600 px-3 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
        </div>

      </form>
    </div>
  </ng-container>

  <!-- Form Edit Category -->
  <ng-container *ngIf="isEditCategory;">
    <div style="width: 500px;" class="mx-auto mt-5">
      <form (submit)="onSubmitUpdate()">
        <div class="space-y-12 m-3">
          <div class="border-b border-gray-900/10 pb-12">
            <h2 class="text-base font-semibold leading-7 text-gray-900">Edit Category Information</h2>
            <p class="mt-1 text-sm leading-6 text-gray-600">Use form where you can receive to server.</p>
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

              <!-- Name -->
              <div class="sm:col-span-3">
                <label class="block text-sm font-medium leading-6 text-gray-900">Category name</label>
                <div class="mt-2">
                  <input autocomplete="off" [(ngModel)]="categories.name" type="text" name="name" id="Category-name"
                    style="text-align: center;"
                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="mt-6 flex items-center justify-start gap-x-6 m-3">
          <button type="button" class="text-sm font-semibold leading-6 text-gray-900"
            (click)="closeEditCategory()">Cancel</button>
          <button type="submit"
            class="rounded-md bg-amber-500 px-3 py-1 text-sm font-semibold text-white shadow-sm hover:bg-amber-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Edit</button>
          <button (click)="onClickDelete(this.idCategory)"
            class="rounded-md bg-rose-500 px-3 py-1 text-sm font-semibold text-white shadow-sm hover:bg-rose-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Delete
          </button>
        </div>

      </form>
    </div>
  </ng-container>
</section>